@import "tailwindcss";

/* Disable system-based dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Enable class-based dark mode manually */
@custom-variant dark (&:where(.dark, .dark *));
